extends layout

block content
    h1= "Our Form"
    form(action="/new", method="post") 
        input(placeholder = "Enter the Author's name" name="author")
        input(placeholder = "Enter the Message" name="messageText")
        input(type= "submit" name="submit")
